:root{
    --button-width:48px;
    --button-height:48px;
    --focus-color:#b59f5b
}

@font-face {
    font-family: OpenSans;
    src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff');
}
@font-face {
    font-family: OpenSans;
    src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff');
    font-weight: bold;
}

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
    font-family: OpenSans,sans-serif;
  color:#000;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 

.container{
  max-width:1200px;
  margin:0 auto;
  padding: 0 15px;
}
.nav{
  display:flex;
  flex-flow: row wrap;
  align-items: center;
}
.nav>*{
   flex-grow: 1;
}
.nav .menu{
  display:flex;
  list-style-type:none;
  flex-wrap: wrap;
  padding: 0;
  justify-content: end;
  margin: 0;
}

.logo{
    max-width:179px;
}
.logo a{
    padding: 0;
    margin: 0;
    position: relative;
    display: block;
    line-height: 1;
    text-decoration: none;
}
img{
    max-width:100%;
    display: block;
}
.header{
  position:relative;
  background-image:url('https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
  height:450px;
  color:#ffffff;
  padding-top:28px;
}
.header::before{
  content:"";
  position:absolute;
  background:rgba(0,0,0,.6);
  left:0;right:0;top:0;bottom:0;
  z-index:1;
}
.header .container,.header .slogan{
  position: relative;
  z-index:2;
}
.slogan{
    text-align: center;
    padding-top: 104px;
}
.slogan h1{
    font-size: 45px;
    line-height: 75px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.menu__item a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
}
.menu__item:not(:first-child){
  margin-left:35px;
}


.page-block{
  margin-top:63px;
  margin-bottom:65px;
}
.page-block .container{
  display:flex;
}
.page-block .main{
  width: 778px;
  margin-right:120px;
}

.post{
  display:flex;
  flex-wrap: nowrap;
  flex-grow: unset;
}
.post:not(:last-child){
  margin-bottom: 61px;
}
.post__image{
  width: 380px;
}
.post__data{
  display:flex;
  flex-flow: column;
  width: 398px;
  padding: 0 0 0 30px;
}

.page-block .aside{
  width:285px;
  display: flex;
  flex-direction: column;
}

.post__tags{
  display:flex;
  list-style:none;
  padding: 0;
  text-transform:uppercase;
  margin:0;
  font-weight:bold;
  font-size:14px;
  line-height: 34px;
  margin-top: -11px;
}
.post__tag:not(:first-child){
  margin-left:20px;
}
.post__tags a{
  color: var(--focus-color);
  text-decoration:none;
}
.post p{
  margin:0;
  margin-bottom: 12px;
}
.post__title{
  font-size:20px;
  line-height:24px;
  font-weight:bold;
  margin-bottom: 17px;
  text-transform:uppercase;
}
.post__title a{
  text-decoration:none;
  color:#000;
}
.post__description{
  font-size: 15px;
  line-height:22px;
}
.post__meta{
  display:flex;
  font-size:12px;
  line-height:40px;
  margin-bottom: 33px;
}
.post__date{
  color:#888888;
}
.post__author{
  margin-left: 12px;
  font-weight:bold;
}

.aside__header{
  font-size:14px;
  line-height:29.15px;
  text-align:center;
  text-transform:uppercase;
  font-weight:bold;
  margin: -10px 0 0 0;
}
.aside__header:after{
  content:"";
  width:66px;
  border-bottom:3px solid var(--focus-color);
  display:block;
  margin: 5px auto 30px auto;
  opacity:.4;
}

.new-post{
  display:flex;
  margin-bottom: 21px;
}
.new-post__img{
  width:70px;
}
.new-post__data{
  padding-left: 18px;
  width:200px;
}
.new-post__date{
  font-size:12px;
  line-height: 12px;
  color:#000000;
  /* margin-top:-14px; */
  opacity:.54;
  vertical-align:bottom;
  margin-bottom: 6px;
  margin-top: -2px;
}
.new-post__title{
  font-size:14px;
  line-height:18px;
  font-weight:bold;
  text-transform:uppercase;
}
.new-post__title a{
  text-decoration:none;
  color:#000;
}
.new-post__title a:hover{
  color:var(--focus-color);
}
.aside>section{
  margin-bottom:42px;
}
.search-form{
  display:flex;
}
.search-form #search{
  flex-grow:1;
}
input[type='text'],input[type='email']{
  background-color:#f4f7f6;
  border:1px solid transparent;
  height: var(--button-height);
  padding:2px 16px;
}
button{
  border: none;
  margin-right: 0;
  background: var(--focus-color);
  position: relative;
  cursor: pointer;
}
button:hover{
  background-color: #323232;
}
button:focus{
  outline:1px dotted #ffffff;
  outline-offset:-4px;
}
input[type='text']:focus,input[type='email']:focus{
  border-color:var(--focus-color);
  outline:none;
}
.search-button{
  width:var(--button-width);
  height:var(--button-height);
}
.search-button:before{
  content:"";
  background: url('https://netology-code.github.io/html-2-diploma/sources/images/search.svg');
  background-position:center center;
  background-size: cover;
  width:18px;
  height:18px;
  top: 50%;
  left: 50%;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
}
.subscribe .aside__header:after {
  margin-bottom:22px;
}
input[type='email'],.subscribe-button{
  width: 100%;
}
.subscribe-button{
  height: var(--button-height);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  font-weight: bold;
  color: #ffffff;
}
input[type='email']{
  margin-bottom: 18px;
}
section.search{
  margin-bottom: 62px;
}
section.tags{
  margin-top:20px;
  margin-bottom:58px;
}
section.tags  .aside__header:after {
  margin-bottom: 24px;
}
.tags__list{
  margin:0;
  padding:0;
  list-style:none;
  text-transform:uppercase;
  font-size:12px;
  display:flex;
  flex-wrap:wrap;
  line-height: 24px;
}
.tags__list a{
  display:inline-block;
  text-decoration:none;
  color:#000;
  font-weight:bold;
  padding-left: 13px;
  border: 3px solid #eeeeee;
  height: 30px;
  padding-right: 13px;
}
.tags__list a:hover{
  border-color:var(--focus-color)
}
.tags__list a:focus{
  outline:1px dotted var(--focus-color);
  outline-offset:-5px;
}
.tags__item{
  margin-right: 5px;
  margin-bottom: 5px;
}
.themes .aside__header:after{
  margin-bottom: 10px;
}
.themes-list{
  margin:0;
  padding:0;
  list-style:none;
  font-size:14px;
  line-height:47px;
  font-weight: bold;
}
.themes-list__item{
  border-bottom:1px solid #eeeeee
}
.themes-list__item a{
  text-decoration:none;
  color:#000000;
}
.themes-list__item a:hover{
    color: var(--focus-color);
}
.themes-list__item .themes-counter{
  font-size:12px;
  line-height:37px;
  vertical-align:super;
  color:var(--focus-color);
  font-weight:bold;
}
.footer .social-icons{
  background-color:#f4f7f6;
  list-style:none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content:center;
  height: 82px;
  padding: 0;
  margin: 0;
  justify-content: center;
  grid-gap: 27px;
  margin-bottom:60px;
}
.footer .social-icons .social-icon img{
  height:20px;
}

.copyright p{
  font-size:12px;
  line-height:40px;
  font-weight:bold;
  text-align:center;
  color:#999999;
}
.footer{
    margin-bottom: 40px;
}